Hibernate/.metadata/
Hibernate/RemoteSystemsTempFiles/
Hibernate/Student/.settings/
Hibernate/Student/target/
Hibernate/Student/.classpath
Hibernate/Student/.project
Hibernate/Student/src/main/java/hibernate.cfg.xml
